* {
    box-sizing: border-box;
    /* allows to include padding and border in an elements total height and width */
}

body,
html {

    height: 100%;
    overflow-x: hidden;
    /*this will hide all the left and right extra space from the header and section, x means left and right, y means up and bottom*/
}



:root {
    /*we will create a variable and specify font family and color*/
    --Pacifico: 'Pacifico', cursive;
    --Rubik: 'Rubik', sans-serif;
    --Bangers: 'Bangers', cursive;
    --Coming: 'Coming Soon', cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
    --light-gray: rgba(255, 255, 255, 0.7);
}

.navi-bar {
    background: #333333;
    position: fixed;
    opacity: 0.8;
    z-index: 4;

}

header a {
    font-family: var(--Rubik);
    font-size: 0.9em;
    color: whitesmoke;

}

.parallax {
    background-image: url(../assets/background-home.jpeg);
    background-attachment: fixed;
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.dropdown-content {
    display: none;
    position: absolute;
    background: gray;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: black;

}

.dropdown-content a {
    color: black;
    padding: 12px, 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: pink;

}

.dropdown:hover .dropdown-content {
    display: block;
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.5em;
}

header .navbar-brand {
    padding-left: 8rem;
}

header .nav-link:hover {
    color: orange;
}

header .row .col-md-5 {
    padding: 20vmin 0.8vmin;
    padding-bottom: 30vmin;

}


header .row .col-md-5 h1 {
    font-family: var(--Pacifico);
    /* color: #EA234A; */
    color: #060C61;
    font-size: 8.5vmin;
    /* font-weight: bold; */
    padding: 0.1em 0em;
}

header .row .col-md-5 h6 {
    font-family: var(--Rubic);
    color: #2C3E50;
    padding: 1vmin;
    letter-spacing: 4px;
}

header .row .col-md-5 p {
    font-family: 'Noto Sans SC', sans-serif;
    color: #2C3E50;
    padding: 1vmin 5vmin;
}

header .container .col-md-5 button {
    border-radius: 30px;
    font-weight: bold;
}

/* section-1 */

.section-1 {
    padding: 10vmin 0;
}

.section-1 .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 400px;
    border-radius: 0.2em;
    height: 500px;

}

.section-1 .row .col-md-6:last-child {
    position: relative;
}

.section-1 .row .col-md-6 .panel {

    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;

}

.section-1 .row .col-md-6 .panel p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}

/* section-2 */
.cover {
    width: 100%;
    height: 55vmin;
    background: url(../assets/beach-blue-sky-cheerful-clouds-452738.jpg);


    background-size: 150%;
    background-position: -24rem -19rem;
    position: relative;
}

.cover .content {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}

.cover .content>h1 {
    font-family: var(--Pacifico);
    font-size: 6vmin;
    color: whitesmoke;
}

.cover .content>p {
    font-family: var(--Coming);
    font-size: 2vmin;
    color: #e5e5e5;
}

.numbers .rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);


}

.numbers {
    margin-top: -15vmin;
}

.numbers .rect h1 {
    font-size: 5rem;
    color: tomato;

}

.numbers .rect p {
    font-family: var(--Rubik);
}

.purchase>h1 {
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-family: 'Lobster', cursive;
}

.purchase>p {
    color: var(--light-black);
    font-size: 3vmin;
    padding-bottom: 10vmin;
}

.purchase .cards .card {
    width: 22rem;
    margin: 3rem;

}

.cards div {
    margin: 0;
    padding: 0;

}

.cards .title {
    background: rgba(208, 241, 241, 0.199);
    padding: 1.4rem 2.5rem;
    font-size: 2vmin;
}

.card .card-text {
    padding: 2.5rem 3rem;
    color: var(--light-black);
}

.card-body .pricing {
    background: rgba(208, 241, 241, 0.199);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
}

.card-body .pricing>h1 {
    font-size: 10vmin;
    padding: 1em 0.5em;
}

/* Section-3*/

.section-3 {
    height: 70vmin;
    margin-top: 15vmin;
    background: var(--bggradient);
}

.section-3 .col-md-12>h1 {
    padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
}

.section-3 .col-md-12>p {
    padding: 0 4em;
    padding-bottom: 2em;
    color: var(--light-gray);
    font-size: 3vmin;
}

.section-3 .desktop {
    background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
}

.section-3 .desktop h3 {
    font-size: 4vmin;
}

.section-3 .desktop p {
    font-size: 2vmin;
}

.section-3 .mobile {
    background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 5px 40px;
    margin: 1em;
    text-align: center;
}

.section-3 .mobile h3 {

    font-size: 4vmin;
}

.section-3 .mobile p {

    font-size: 2vmin;
}

/* Section-4 */
.section-4 .container h1 {
    font-size: 6vmin;
    padding-top: 14vmin;
}

.section-4 .team {
    padding: 10vmin 4vmin;

}

.section-4 .card {
    width: 22rem;
    margin-top: 10vmin;
}

.section-4 .card .card-text {
    padding: 0.5em;
}

.section-4 .card .card-body>a {
    font-size: 1.5em;
}

.section-4 .carousel-item {
    padding-left: 3rem;
}

.border-radius {
    border-radius: 340px;
    width: 60%;
}

/* Footer */
footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 14vmin 18vmin;

}

footer p>span {
    color: #ff512f;
}

footer input {
    border: none !important;
    /*if we write only border:none, it will not remove the border, to overwrite the border property, we use !important*/

}

footer input::placeholder {
    color: white !important;

}

footer .input-group .input-group-text {
    background: var(--bggradient);
    border: none;
}

footer .column i {
    color: #dd2476;
}

footer .column i+i {
    padding: 0 0.5em;
}